<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebD Task</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  
  <header class="header">
    <a href="#" class="logo1"><i class="fas fa-user-tie" id="int"></i> ImprovU</a>


    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="http://127.0.0.1:5000/about">About</a>
      <a href="/contact">Contact</a>
    </nav>

    

    <div class="profile">
      <div class="user-circle">
        <i class="fas fa-user-circle"></i>
      </div>
        <div class="dropdown">
          <a class="dropbtn" href="userlogin">Logout</a>
        </div>
      </div>
  </header>

  <section class="home" id="home">

    <div class="home-content">
      <h3>Hello,<br>
        WelCome to,</h3>
      <h1>ImprovU</h1>

      <p>
        Welcome to our comprehensive interview preparation website! Our platform is dedicated
        to helping job seekers and aspiring professionals succeed in their interviews and land
        their dream jobs. We understand that interviews can be nerve-wracking and challenging,
        which is why we have designed this website to provide you with all the resources and
        support you need to excel in any interview setting.
      </p>
      <h2>Our key features includes: <span class="multiple-text"></span></h2>
      <p>
        At our interview preparation website, we are committed to empowering you with the
        knowledge and skills needed to stand out in interviews and secure your desired position.
        Whether you are a recent graduate, a career changer, or an experienced professional,
        we are here to help you take the next step in your career journey. Let's work together
        to make your interview a resounding success!
      </p>
      <a href="/test" class="btn">Take Test</a>
    </div>
    <div class="home-img">
      <img src="{{ url_for('static', filename='3545798.jpg') }}">
    </div>
  </section>
  


  <div class="intro">
    <h1 class="logo-header">
      <span class="logo">Wel</span><span class="logo">Come</span>
    </h1>
  </div>


  <footer class="footer">
    <div class="social">
      <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
      <a href="https://www.linkedin.com" target="_blank"><i class='bx bxl-linkedin'></i></a>
      <a href="https://twitter.com/login?lang=en" target="_blank"><i class='bx bxl-twitter'></i></a>
    </div>

    <div class="footer-iconTop">
      <a href="#home"><i class='bx bxs-up-arrow-alt'></i></a>
    </div>

    <div class="footer-contact">
      <p>Contact Us:</p>

      <p><img src="{{ url_for('static', filename='map.png') }}" alt="Location Icon" style="filter: brightness(0) invert(1);"> P9V7+CH5, Pallipuram, Cherthala - Arookutty Rd, Thavanakadavu, Cherthala, Kerala 688541 </p>
      <p>Phone: (123) 456-7890</p>
      <p>Email: info@example.com</p>
      
      </div>
    </div>
  </footer>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>